<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="DSNCcolorC.png" alt="Community Closet Logo" class="logo" />
    </a>
    
    <!-- Button for hamburger menu on mobile screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar items will be hidden on small screens and shown when toggled -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link btn custom-btn-light" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn custom-btn-light" routerLink="/events">Next Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn custom-btn-light" routerLink="/donations">Donations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn custom-btn-light" routerLink="/reservations">Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn custom-btn-light" routerLink="/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn custom-btn-light" routerLink="/photos">Photos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
